<button class="btn btn-success" id="create-group">Crear grupo</button>
<h1 id="G">Grupos <h5 id="members">(Miembros)</h5></h1>
<div class="container">
    <div class="container-fluid">
        {% for group in groups %}
            <div class="row">
                <h3 id="group">{{ group.name }}</h3>
                <button class="btn btn-default">unirse</button>
            </div>
            {% for member in members %}
                {% if member.group.id == group.id %}
                    <div class="row">
                        <ul>
                            <li id="members"><a href="{% url 'account:profile' member.person.id %}" id="user-profile{{ forloop.counter }}">{{ member.person }}</a></li>
                        </ul>
                    </div>
                    <script>
                        join_click_by_ajax("#user-profile{{ forloop.counter }}", "#information", "{% url 'account:profile' member.person.id %}", "#spinner-information");
                    </script>
                {% endif %}
            {% empty %}
                <p>No tiene miembros</p>
            {% endfor %}
        {% endfor %}
    </div>
</div>
<script>
    join_click_by_ajax("#create-group", "#information", "/group/create", "#spinner-information");
</script>