div .ligth-dark{
    background: rgba(234, 234, 234, 0.95);
}

footer .footer{
    float: inherit;
}

.move {
    transition: 800ms;
}

.move:hover{
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    transform: rotate(9deg);
}

.zoom{
    transition: 800ms;
}

.zoom:hover{
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.circle{
    font-size: 100px;
}

#group{
    background: #009688;
    margin-right: 300px;
}

#G{
    background: #009688;
    color: white;
    font-size: 34px;
    margin: 0px;
}

#FN{
    color: grey;
}
#S{
    color: grey;
    margin-top: 5px;
}

#EC{
    color: grey;
    margin-top: 5px;
}

#title{
    background: mediumseagreen;
    color: whitesmoke;
}

#coments{
    background: mediumseagreen;
    color: whitesmoke;
}

#members{
    font-style: italic;
}

.user{
    font-style: italic;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}

#U{
    background: #5fb3f7;
    color: white;
    font-size: 30px;
}

#image{
    margin-top: 30px;
}

#cambios{
    margin-top: 20px;
}

.mi{
    background: mediumseagreen;
    font-size: 28px;
    color: whitesmoke;
}

#IP{
    font-size: 20px;
    margin-bottom: 15px;
}
#photo{
    margin-top: 10px;
    margin-bottom: 5px;
}

.W{
    background: mediumseagreen;
    color: white;
    margin-bottom: 15px;
    padding-right: 500px;
    font-size: 35px;
}

.O{
    margin-top: 25px;
    margin-bottom: 20px;
}

#entrar{
    margin-top: 10px;
}
