{% load staticfiles %}
<link rel="stylesheet" href="{% static 'own/chat.css' %}">
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="fa fa-comment"></span> Chat
                            </div>
                            <div class="panel-body">
                                <ul id="message_box" class="chat">

                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input style="width:100px" id="name" type="text" class="form-control input-sm" name="name"  placeholder="Tu nick" maxlength="10"   />
                                    <input style="width:180px" id="btn-input" type="text" class="form-control input-sm" placeholder="Escribe tu mensaje aqu&iacute;" />
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" id="btn-chat">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery-2.0.1.min.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function(){

        //create a new WebSocket object.
        var wsUri = "ws://10.26.2.176:8080";
        websocket = new WebSocket(wsUri);
        var myip ;

        websocket.onopen = function(ev) {
            $('#message_box').append(createLi('System','{% static "conectado.png" %}','Connected !!!'));
        };

        websocket.onerror	= function(ev){
            $('#message_box').append(createLi('System','{% static "error.png" %}','Error Occurred '+ev.data));
        };

        websocket.onclose 	= function(ev){
            $('#message_box').append(createLi('System','{% static "desconectado.png" %}','Connection Closed'));
        };

        websocket.onmessage = function(ev) {
            var msg = JSON.parse(ev.data); //PHP sends Json data
            var type = msg.type; //message type
            var umsg = msg.message; //message text
            var uname = msg.name; //user name

            if(!uname){
                uname ='system' ;
            }

            $('#message_box').append(createMessage (type,umsg,uname)) ;
            $('#message').val(''); //reset text
        };


        function createMessage (type,msg,username) {

            var img = '{% static "chrome.png" %}' ;
            var myname = $('#name').val(); //get user name

            if(username == myname){
                img = '{% static "firefox.png" %}' ;
            }

            if(username == 'system'){
                var img = '{% static "conectado.png" %}' ;
                if(type == 'desconectado'){
                    img = '{% static "desconectado.png" %}' ;
                }
            }
            return createLi(username,img,msg) ;
        }

        function createLi(username,img,text){
            var li = $(' <li class="left clearfix"><span class="chat-img pull-left"><img src="'+img+'" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">'+username+'</strong> </div><p>'+text+'</p></div></li>');
            var myname = $('#name').val(); //get user name
            if(username == myname){
                li = $(' <li class="right clearfix"><span class="chat-img pull-right"><img src="'+img+'" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">'+username+'</strong> </div><p>'+text+'</p></div></li>');
            }
            return li;
        }

        var name = $('#name');

        $('#btn-chat').click(function(){
            var message = $('#btn-input');

            var mymessage = message.val();  //get message text
            var myname = name.val(); //get user name

            if(myname == ""){ //empty name?
                alert("Enter your Name please!");
                return;
            }
            if(mymessage == ""){ //emtpy message?
                alert("Enter Some message Please!");
                return;
            }

            //prepare json data
            var msg = {
                message: mymessage,
                name: myname,
            };
            //convert and send data to server
            websocket.send(JSON.stringify(msg));

            message.val("");

        });

        name.val('{{ user.first_name }}');
    });

</script>