{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Crear cuenta{% endblock %}

{% block content %}
    <form method="post" class="form-horizontal container">
        {% csrf_token %}
        <fieldset>
            <legend>Crearse una cuenta</legend>
            <div class="form-group">
                <label for="username" class="col-lg-3">Nombre de usuario</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control floating-label" placeholder="nombre de usuario" id="username" name="username"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-lg-3">Contraseña</label>
                <div class="col-lg-9">
                    <input type="password" class="form-control floating-label" placeholder="contraseña" id="password" name="password" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="password-check" class="col-lg-3">Por favor, repita la contraseña</label>
                <div class="col-lg-9">
                    <input type="password" class="form-control floating-label" placeholder="Repita la contraseña" id="password-check" name="password-check" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-lg-3">Nombre</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control floating-label" placeholder="nombre" id="name" name="name"/>
                </div>
            </div>
            <div class="form-group">
                <label for="last_name" class="col-lg-3">Apellidos</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control floating-label" placeholder="apellidos" id="last_name" name="last_name"/>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-lg-3">Correo</label>
                <div class="col-lg-9">
                    <input type="email" class="form-control floating-label" placeholder="Correo" id="email" name="email"/>
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-lg-3">Fecha de nacimiento</label>
                <div class="col-lg-9">
                    <input type="date" class="form-control floating-label" placeholder="date" id="sign" name="date"/>
                </div>
            </div>
            <div class="form-group">
                <label for="sex" class="col-lg-3">Sexo</label>
                <div class="col-lg-9">
                    <select name="sex" id="sex" class="form-control">
                        <option value="undefined">Sin definir</option>
                        <option value="male">Masculino</option>
                        <option value="woman">Femenino</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="civil_status" class="col-lg-3">Estado civil</label>
                <div class="col-lg-9">
                    <select name="civil_status" id="civil_status" class="form-control">
                        <option value="">Soltero</option>
                        <option value="">Casado</option>
                        <option value="">Con novi@</option>
                        <option value="">relacion complicada</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <a href="{% url 'account:login' %}" class="btn btn-primary btn-lg">
                    <i class="fa fa-minus-circle fa-fw"></i>
                    Ya tengo una cuenta
                </a>
            </div>
            <div class="form-group col-lg-6">
                <button class="btn btn-primary btn-lg" type="submit" id="create">
                    <i class="fa fa-sign-in fa-fw"></i>
                    Crear cuenta ahora
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}
{% block script %}
    <script src="{% static 'own/create_account.js' %}"></script>
{% endblock %}