{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Creando mi cuenta{% endblock %}
{% block content %}
    <form  class="form-horizontal container" method = "post">
        {% csrf_token %}
        <fieldset>
            <legend class="col-lg-10 mi">Creando mi cuenta</legend>
            <div class="form-group">
                <div class="col-lg-10">
                    <input type="text" class="form-control floating-label" placeholder="Usuario" id="username" name="username" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10">
                    <input type="password" class="form-control floating-label" placeholder="Contraseña" id="password" name="password" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10">
                    <input type="password" class="form-control floating-label" placeholder="Reiterar Contraseña" id="password-check" name="password-check" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10">
                    <input type="text" class="form-control floating-label" placeholder="Nombre" id="name" name="name" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10">
                    <input type="text" class="form-control floating-label" placeholder="Apellidos" id="last_name" name="last_name" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10">
                    <input type="email" class="form-control floating-label" placeholder="Correo" id="email" name="email" required/>
                </div>
            </div>
            <div class="form-group">
                <label id="FN" class="col-lg-1" for="born_date">Fecha de nacimiento</label>
                <div class="col-lg-9">
                    <input type="date" class="form-control floating-label" id="date" name="date" placeholder="ejemplo: 1994-09-18" data-hint="la fecha debe ser en el siguiente formato yyyy-mm-dd" required/>
                </div>
            </div>
            <div class="form-group">
                <label id="S" class="col-lg-1" for="sex">Sexo</label>
                <div class="col-lg-9">
                    <select name="sex" id="sex" class="form-control" required>
                        <option value="U">Sin definir</option>
                        <option value="M">Masculino</option>
                        <option value="W">Femenino</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label id="EC" class="col-lg-1" for="civil_status">Estado civil</label>
                <div class="col-lg-9">
                    <select name="civil_status" id="civil_status" class="form-control">
                        <option value="S">Soltero</option>
                        <option value="M">Casado</option>
                        <option value="F">Con novi@</option>
                        <option value="C">relacion complicada</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-6 col-lg-push-1">
                <a href="{% url 'account:login' %}" class="btn btn-primary btn-lg move">
                    <i class="fa fa-reply-all"></i>
                    Volver atrás
                </a>
            </div>
            <div class="form-group col-lg-6 col-lg-push-1">
                <button class="btn btn-primary btn-lg move" type="submit" id="create">
                    <i class="fa fa-check-square-o"></i>
                    Crear ahora
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}
{% block script %}
    <script src="{% static 'own/create_account.js' %}"></script>
    {% if sms %}
        <script>
            toastr.options.closeButton = true;
            toastr.options.positionClass = 'toast-top-right';
            toastr.error('{{ sms }}');
        </script>
    {% endif %}
{% endblock %}