{% load staticfiles %}
{% for frd in friend %}
    <div class="list-group-item">
        <div class="row-picture">
            {% if user.photo %}
                <img class="circle" src="/{{ user.photo }}" alt="{{ user.user.username }}">
            {% else %}
                <img class="circle" src="{% static 'user.png' %}" alt="{{ user.user.username }}">
            {% endif %}
        </div>
        <div class="row-content">
            {% if frd.receiver == request.user %}
                <h4 class="list-group-item-heading">{{ frd.sender.get_full_name }}</h4>
                <p class="list-group-item-text">{{ frd.sender }}</p>
            {% else %}
                <h4 class="list-group-item-heading">{{ frd.sender}}</h4>
                <p class="list-group-item-text">{{ frd.sender }}</p>
            {% endif %}
        </div>
    </div>
    <div class="list-group-separator"></div>
{% empty %}
    <h4>No hay ningun amigo conectado conectados</h4>
{% endfor %}