{% for user in users %}
    {% load staticfiles %}
    <div class="list-group-item">
        <div class="row-picture">
            {% if user.photo %}
                <img class="circle" src="/{{ user.photo }}" alt="{{ user.user.username }}">
            {% else %}
                <img class="circle" src="{% static 'favicon.png' %}" alt="{{ user.user.username }}">
            {% endif %}
        </div>
        <div class="row-content">
            <h4 class="list-group-item-heading">{{ user.user.get_full_name }}</h4>
            <p class="list-group-item-text">{{ user.about_me }}</p>
        </div>
    </div>
    <div class="list-group-separator"></div>
{% empty %}
    <h4>No hay usuarios conectados</h4>
{% endfor %}