nombre de usuario: {{ profile.user.username }}<br>
email: {{ profile.user.email }}<br>
acerca de {{ profile.user.username }}: {{ profile.about_me }}<br>
fecha de nacimiento: {{ profile.born_date }}<br>
sexo: {{ profile.get_sex_display }}<br>
estado civil: {{ profile.get_civil_status_display }}<br>
{% if profile.is_conected %}
    <p>el usuario esta conectado</p>
{% else %}
    <p>el usuario actualmente no se encuentra en linea</p>
{% endif %}

<div class="col-lg-4">
    <img src="/{{ profile.photo }}" alt="foto of user" width="150" class="img-circle"><br>
</div>
<div class="col-lg-8">
    <h2>{{ profile.user.get_full_name }}' Wall</h2>
</div>