{% if own.user.username != profile.user.username %}
    {% if profile.is_conected %}
        <p>el usuario esta conectado</p>
    {% else %}
        <p>el usuario actualmente no se encuentra en linea</p>
    {% endif %}
{% endif %}

<div class="col-lg-4">
    {% if profile.photo %}
        <img src="/{{ profile.photo }}" alt="foto of user" width="150" class="img-circle"><br>
    {% else %}
        <div class="circle"><i class="fa fa-user fa-fw"></i></div>
    {% endif %}
</div>
<div class="col-lg-8">
    <h2>{{ profile.user.username }}'s Wall
        {% if is_my_profile %}
            <a href="#" class="btn btn-flat btn-primary col-lg-push-5" id="edit-profile-user">editar perfil</a>
            {% else %}
            <a href="{% url 'account:friendship' profile.user.id %}" class="btn btn-flat btn-primary col-lg-push-5" id="send-friendship">Solicitud de amistad</a>
        {% endif %}
    </h2>
    <ul class="nav nav-tabs" style="margin-bottom: 15px">
        <li class=""><a href="#last-comment" data-toggle="tab">&uacute;ltimos comentarios</a></li>
        <li><a href="#info" data-toggle="tab">Informaci&oacute;n personal</a></li>
    </ul>

    <div id="tabs-contents" class="tab-content">
        <div class="tab-pane fade active in" id="info">
            <p>{{ profile.user.get_full_name }}</p>
            <p>{{ profile.user.email }}</p>
            <p>{{ profile.about_me }}</p>
            <p>{{ profile.born_date }}</p>
            <p>{{ profile.get_sex_display }}</p>
            <p>{{ profile.get_civil_status_display }}</p>
        </div>
        <div class="tab-pane fade" id="last-comment">
            <p>ultimos comentarios de {{ profile.user.first_name }}</p>
        </div>
    </div>
</div>
<script>
    join_click_by_ajax("#edit-profile-user", "#information", "{% url 'account:edit_profile' user.pk %}", "#spinner-information");
</script>