<h1>{{ picture.title }}<small> por {{ picture.owner }}</small></h1>
<h3>acerca: {{ picture.about }}</h3>
<img src="/{{ picture.picture }}" alt="{{ picture.title }}" width="500" height="350">
<h2 id="coments">Comentarios</h2>
{% for comment in comments %}
    <p>{{ comment.comments }}</p>
{% endfor %}
<form action="{% url 'picture:comment_picture' picture.id %}" method="get">
    {% csrf_token %}
    <textarea class="form-control" placeholder="Haga su comentario aqu&iacute;" name="comment"></textarea>
    <input type="submit" value="Comentar" class="btn btn-success">
</form>
