{% for picture in pictures %}
    <h2 id="title">Título: <a href="{% url 'picture:pictures_details' picture.id %}" id="picture{{ forloop.counter }}">{{ picture.title }}</a></h2>
    <p>about: {{ picture.about }}</p>
    <p>creador: {{ picture.owner }}</p>
    <img src="/{{ picture.picture }}" alt="{{ picture.title }}" width="500" height="350">
    <h3 id="coments">Comentarios</h3>
    <script>
        join_click_by_ajax("#picture{{ forloop.counter }}", "#information", "{% url 'picture:pictures_details' picture.id %}", "#spinner-information");
    </script>
    {% for comment in comments %}
        {% if comment.photos.id == picture.id %}
            <p>{{ comment.comments }}</p>
        {% endif %}
    {% endfor %}
{% endfor %}